.post-card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-author-info {
    display: flex;
    flex-direction: column;
}

.post-content {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
}

.post-interactions {
    display: flex;
    align-items: center;
    color: #888;
}

.post-interactions span {
    margin-left: 4px;
}

.me-3 {
    margin-right: 12px;
}

.me-1 {
    margin-right: 4px;
}